<!DOCTYPE html>
<html>
<head>
    <title>{{title|title}}</title>
    <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>
<body>
    <main id="root">
        <div class="container">
            <h1 class="roboto-bold">{{title|title}}</h1>

            <div class="description">
            <p class="roboto-light">
                Welcome to the {{title|title}}, please refer to the
                documentation for a list of all endpoints available.
            </p>
            <a class="roboto-thin" href="/docs">API documentation</a>
            </div>
            <div class="cultural-maps-ref">   
                <p class="roboto-light">Feel free to look to the Cultural Maps project also</p>
                <a class="roboto-thin" href="https://mapas.cultura.gov.br">Link</a>
            </div>
        </div>
    </main>
</html>